

<% if current_user %>
  <div class="page-header">
    <h1>Here is some info about you...</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul>
        <li><strong>Name:</strong> <%= current_user.name %></li>
        <li><strong>Provider:</strong> <%= current_user.provider %></li>
        <li><strong>uID:</strong> <%= current_user.uid %></li>
        <li><strong>Weight:</strong> <%= current_user.weight %></li>
        <li><strong>token:</strong> <%= current_user.token %></li>
        <li><strong>refresh_token:</strong> <%= current_user.refresh_token %></li>
        <li><strong>expires_at:</strong> <%= current_user.expires_at %></li>

      </ul>
      <a href="get_user_data">Get User Data</a>
    </div>
  </div>
<% else %>
  <%= render 'welcome' %>
<% end %>